<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "iteampro" %>
  <br><%= t "title" %>
  <br><%= t "designedby" %>
  <%= link_to t("khanhmata"), Settings.khanhlink %>
  <%= t "aboutus" %>
  <%= link_to t("nhat"), Settings.nhatlink %>
  <%= t "aboutus2" %>
  <%= link_to t("nguyen"), Settings.nguyenlink %>
</p>
