<% provide :title, t("contact") %>
<h1><%= t "contact" %></h1>
<p>
  <br><%= t "mrkhanh" %>
  <br><%= link_to t("fb"), Settings.khanhlink %>.
  <br><%= t "phone" %> <%= link_to t("khanhphone"), Settings.nothing %>.
  <br><%= t "mail" %> <%= link_to t("khanhmail"), Settings.nothing %>.
  <br><%= t "chatworkid" %> <%= link_to t("khanhchatwork"), Settings.nothing %>.
  <br>
  <br><%= t "mrnhat" %>
  <br><%= link_to t("fb"), Settings.nhatlink %>.
  <br><%= t "phone" %> <%= link_to t("nhatphone"), Settings.nothing %>.
  <br><%= t "mail" %> <%= link_to t("nhatmail"), Settings.nothing %>.
  <br><%= t "chatworkid" %> <%= link_to t("nhatchatwork"), Settings.nothing %>.
  <br>
  <br><%= t "mrnguyen" %>
  <br><%= link_to t("fb"), Settings.nguyenlink %>.
  <br><%= t "phone" %> <%= link_to t("nguyenphone"), Settings.nothing %>.
  <br><%= t "mail" %> <%= link_to t("nguyenmail"), Settings.nothing %>.
  <br><%= t "chatworkidct" %>
  <%= link_to t("nguyenchatwork"), Settings.nothing %>.
</p>
