<div class="banner">
  <div id="kb" class="carousel kb_elastic animate_text kb_wrapper"
    data-ride="carousel" data-interval="6000" data-pause="hover">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= link_to image_tag("fram3.jpg", class:"img-responsive") %>
          <div class="carousel-caption kb_caption">
            <h3 data-animation="animated flipInX">
              <%= t ".GetEverythingRight" %>
            </h3>
            <h4 data-animation="animated flipInX">
              <%= t ".cupidatatnonproident" %>
            </h4>
          </div>
        </div>
        <!-- Second-Slide -->
        <div class="item">
          <%= link_to image_tag("fram2.jpg", class:"img-responsive") %>
          <div class="carousel-caption kb_caption kb_caption_right">
            <h3 data-animation="animated flipInX">
              <%= t ".GetEverythingRight" %>
            </h3>
            <h4 data-animation="animated flipInX">
            <%= t ".cupidatatnonproident" %>
            </h4>
          </div>
        </div>
        <!-- Third-Slide -->
        <div class="item">
          <%= link_to image_tag("fram1.jpg", class:"img-responsive") %>
          <div class="carousel-caption kb_caption kb_caption_center">
            <h3 data-animation="animated flipInX">
              <%= t ".GetEverythingRight" %>
            </h3>
            <h4 data-animation="animated flipInX">
              <%= t ".cupidatatnonproident" %>
            </h4>
          </div>
        </div>
      </div>
      <!-- Left-Button -->
      <a class="left carousel-control kb_control_left" href="#kb"
        role="button" data-slide="prev">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true">
        </span>
        <span class="sr-only"><%= t ".Previous" %></span>
      </a>
      <!-- Right-Button -->
      <a class="right carousel-control kb_control_right" href="#kb"
        role="button" data-slide="next">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true">
        </span>
        <span class="sr-only"><%= t ".Next" %></span>
      </a>
  </div>
  <script src="js/custom.js"></script>
</div>
<div class="content">
  <!--banner-bottom-->
  <div class="banner-bottom">
    <div class="col-md-3 ban-grid">
      <div class="ban-left">
        <h4><%= t ".ExpertTeachers" %></h4>
        <p><%= t ".Nullamegestasdiameufelis" %></p>
      </div>
      <div class="ban-right">
        <i class="glyphicon glyphicon-user"> </i>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 ban-grid">
      <div class="ban-left">
        <h4><%= t ".VideoCourses" %></h4>
        <p><%= t ".Nullamegestasdiameufelis"%> </p>
      </div>
      <div class="ban-right">
        <i class="glyphicon glyphicon-facetime-video"> </i>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 ban-grid">
      <div class="ban-left">
        <h4><%= t ".Library" %></h4>
        <p><%= t ".Nullamegestasdiameufelis"%> </p>
      </div>
      <div class="ban-right">
        <i class="glyphicon glyphicon-book"> </i>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3 ban-grid">
      <div class="ban-left">
        <h4><%= t ".OnlineCourses" %></h4>
        <p><%= t ".Nullamegestasdiameufelis" %></p>
      </div>
      <div class="ban-right">
        <i class="glyphicon glyphicon-blackboard"> </i>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--banner-bottom-->
  <!--welcome-->
  <div class="welcome-w3">
    <div class="container">
      <h2 class="tittle"><%= t ".WelcomeToFramgiaVietNam"%></h2>
      <div class="wel-grids">
        <div class="col-md-4 wel-grid">
          <div class="port-7 effect-2">
            <div class="image-box">
              <%= link_to image_tag("w1.jpg", class:"img-responsive") %>
            </div>
            <div class="text-desc">
              <h4><%= t "waiting_confirmation" %>Studies</h4>//
            </div>
          </div>
          <div class="port-7 effect-2">
            <div class="image-box">
            <%= link_to image_tag("w2.jpg", class:"img-responsive") %>
            </div>
            <div class="text-desc">
              <h4><%= t ".Studie" %></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 wel-grid">
          <%= link_to image_tag("w3.jpg", class:"img-responsive") %>
          <div class="text-grid">
            <h4><%= t "Studie" %></h4>
          </div>
        </div>
        <div class="col-md-4 wel-grid">
          <div class="port-7 effect-2">
            <div class="image-box">
              <%= link_to image_tag("w4.jpg", class:"img-responsive") %>
            </div>
            <div class="text-desc">
              <h4><%= t "Studie" %></h4>
            </div>
          </div>
          <div class="port-7 effect-2">
            <div class="image-box">
              <%= link_to image_tag("w5.jpg", class:"img-responsive") %>
            </div>
            <div class="text-desc">
              <h4><%= t "Studie" %></h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--welcome-->
  <!--student-->
  <div class="student-w3ls">
    <div class="container">
      <h3 class="tittle"> <%= t ".Mycompanyoffered" %></h3>
      <div class="student-grids">
        <div class="col-md-6 student-grid">
        <h4><%= t ".openacompany" %></h4>
        <p>
          <%= t ".Vietnam" %>
        </p>
             <ul class="grid-part">
            <li>
              <i class="glyphicon glyphicon-ok-sign">
              </i><%= t ".Praesentvestibulummolestielacus"%>
            </li>
            <li>
              <i class="glyphicon glyphicon-ok-sign">
              </i><%= t ".Donec" %>
            </li>
            <li>
              <i class="glyphicon glyphicon-ok-sign">
              </i><%= t ".Nullaconsecteturadipiscing" %>
            </li>
            <li>
              <i class="glyphicon glyphicon-ok-sign">
              </i><%= t ".Donecac"%>
            </li>
            <li>
              <i class="glyphicon glyphicon-ok-sign">
              </i><%= t ".Erci"%>
            </li>
          </ul>

        </div>
        <div class="col-md-6 student-grid">
          <%= link_to image_tag("w5.jpg", class: "img-responsive") %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--student-->
    <!--news-->
  <div class="new-w3agile">
    <div class="container">
      <div class="new-grids">
        <div class="col-md-4 new-left">
          <h3 class="tittle1"><%= t "LatestEvents" %></h3>
          <div class="new-top">
            <h5><%= t ".Monday" %></h5>
            <p><%= t ".Proinfermentum" %>
          </div>
          <div class="new-top1">
            <h5><%= t ".Tuesday" %></h5>
            <p><%= t ".Proinfermentumdiam" %>
          </div>
          <div class="new-top">
            <h5><%= t ".Wednesday" %></h5>
            <p><%= t ".Proinfermentumdiam" %></p>
          </div>
          <div class="new-top1">
            <h5><%= t ".Thursday" %></h5>
            <p><%= t ".Proinfermentumdiam" %></p>
          </div>
          <div class="new-top">
            <h5><%= t ".Friday" %></h5>
            <p><%= t ".Proinfermentumdiam" %></p>
          </div>
        </div>
        <div class="col-md-8 new-right">
          <h3 class="tittle1"><%= t ".LatestNews" %></h3>
          <h4><%= t ".Excepteur" %></h4>
          <p><%= t ".Quisque" %></p>
          <div class="new-bottom">
            <div class="new-bottom-left">
               <%= link_to image_tag("w7.jpg", class: "img-responsive") %>
            </div>
            <div class="new-bottom-right">
              <h5><%= t ".Morbised" %></h5>
              <p><%= t ".Nullam" %></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <h4><%= t ".Excepteursint" %></h4>
          <p><%= t ".Quisqueattellus"%></p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
