<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2><%= t ".exam_list" %></h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="info">
          <th class="created_at"><%= t ".created_date" %></th>
          <th class="subject"><%= t ".subject_name" %></th>
          <th class="status"><%= t ".status" %></th>
          <th class="duration"><%= t ".duration" %></th>
          <th class="question_nunmber"><%= t ".question_number" %></th>
          <th class="spent_time"><%= t ".spent_time" %></th>
          <th class="score"><%= t ".score" %></th>
          <th class="action"><%= t ".action" %></th>
          <th class="user center"><%= t ".user" %></th>
        </tr>
      </thead>
      <tbody id = "body_table_data">
        <%= render "list_exam" %>
      </tbody>
    </table>
    <%= will_paginate @exams %>
  </div>
</div>
