<% @levels.each do |level| %>
  <tr>
    <td><%= level.subject.name %></td>
    <td><%= link_to level.name, [:admin, level] %></td>
    <td><%= level.question_number %></td>
    <td class="text-center">
      <div class="btn-group" role="group">
      <%= link_to image_tag("edit.png",
        class:"img-responsi"), edit_admin_level_path(level.id),
          remote: true, id: "edit_admin_subject"%>
      </div>
    </td>
    <td class="text-center">
      <div class="btn-group" role="group">
      <%= link_to image_tag("delete.png",
        class:"img-responsi"), admin_level_path(level.id),
          method: :delete, data: {confirm: t(".delete_subject_confirm")}%>
      </div>
    </td>
  </tr>
<% end %>
