<div class="banner-w3agile">
  <div class="container">
    <h3>
      <span>
        <%= link_to t(".new_level"), new_admin_level_path,
        class: "btn btn-primarys"%>
      </span>
    </h3>
  </div>
</div>
<div class="containe">
  <div class="col-md-3 contact-left">
    <div class="contct-info">
      <h4> <%= t ".function" %></h4>
      <p>
        <%= t ".Admin" %>
      </p>
      <ul>
        <li><%= t ".name" %></li>
        <li><%= t ".duration" %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 contact-left cont">
  <h4><%= t ".title" %></h4>
  <table class="table table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".question_number" %></th>
        <th><%= t ".actions" %></th>
      </tr>
    </thead>
    <tbody class="subject-index">
    <%= render "level" %>
    </tbody>
  </table>
  </div>
  <div class="col-md-3 contact-left"></div>
  <div class="col-md-9 contact-left">
  <%= will_paginate @levels %>
  </div>
</div>
