<% provide :title, t("login") %>
<h1 class="w3ls"><%= t ".MajesticLoginForm" %></h1>
<div id="container_demo" >
  <div id="wrapper">
    <div id="login" class="animate form">
      <%= simple_form_for(resource, as: resource_name,
        url: session_path(resource_name)) do |f| %>
      <h2><%= t ".Login" %></h2>
      <p>
        <label for="username" class="uname">
          <span><%= t ".Youremailorname" %></span>
        </label>
        <%= f.email_field :email, placeholder: t(".EMAILORUSERNAME") %>
      </p>
      <p>
        <label for="password" class="youpasswd">
          <span><%= t ".Yourpassword" %></span>
        </label>
        <%= f.password_field :password, placeholder: t(".Password") %>
      </p>

      <p class="keeplogin">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </p>
      <p class="login button">
        <%= f.button :submit, t("login") %>
      </p>
      <% end %>
      <center>
        <div class="social-icons w3agile">
          <ul>
            <li><%= t "Follow" %></li>
            <li>
              <%= link_to image_tag("fb.png", class:"img-responsive") %>
            </li>
            <li>
              <%= link_to image_tag("tw.png", class:"img-responsive") %>
            </li>
            <li>
              <%= link_to image_tag("gp.png", class:"img-responsive") %>
            </li>
          </ul>
        </div>
      </center>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
