<% @questions.each do |question| %>
  <tr>
    <td><%= link_to question.content, [:admin, question] %></td>
    <td><%= question.level.subject.name %></td>
    <td><%= question.level.name %></td>
    <td>
      <%= link_to t(".edit"), edit_admin_question_path(question.id),
        class: "btn btn-primary" %>
      <%= link_to t(".delete"), admin_questions_path,
        method: :delete, data: {confirm: t(".delete_question_confirm")},
        class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
