<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @user] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.hidden_field :role %><div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, disabled: :on, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, disabled: :on, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :chatwork_id %>
        <%= f.text_field :chatwork_id, disabled: :on, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :role %>
        <%= f.select :role, Settings.role, {}, {class: "form-control"} %>
      </div>
      <%= f.submit t(".submit_button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
