<div class="row">
  <div class="agiler">
    <div class="main">
      <%= tag(:br) %><%= tag(:br) %>
        <div class="signup"><center><h4><%= t ".title" %></h4></center></div>
      <%= tag(:br) %><%= tag(:br) %>
      <div class="signin-form profile">
        <div class="login-form">
          <%= form_for [:admin, @user] do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <%= f.hidden_field :role %>

            <%= f.text_field :name, placeholder: t(".Name") %>

            <%= f.text_field :chatwork_id, placeholder: t(".Chatwork ID") %>

            <%= f.email_field :email, placeholder: t(".Email") %>

            <%= f.select :role, Settings.role, {}, {class: "form-control"} %>
            <%= f.submit t("submit"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
