<% @users.each_with_index do |user, index| %>
  <tr>
    <td class="center"><%= index + Settings.each_user %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.chatwork_id %></td>
    <td><%= user.role.capitalize %></td>
    <td><%= l user.created_at, format: :date_month_year_concise %></td>
    <td class="center">
      <%= link_to image_tag("view.png", class:"img-responsi"),
        admin_user_path(user)%>
    </td>
    <td class="center">
      <%= link_to image_tag("edit.png", class:"img-responsi"),
        edit_admin_user_path(user)%>
    </td>
    <td class="center">
      <%= link_to image_tag("deleteuser.png", class:"img-responsi"),
        admin_user_path(user), method: :delete, data:
        {confirm: t("admin.users.delete_user")}%>
    </td>
  </tr>
<% end %>
