<div class="banner-w3agile">
   <div class="container">
    <h3>
      <span>
        <h1><%= t ".title" %></h1>
      </span>
    </h3>
  </div>
</div>
<div class="containe">
  <div class="col-md-12">
    <table  id="table_list" class="table table-striped table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center"><%= t "admin.users.index_num" %></th>
          <th class="text-center"><%= t "admin.users.name" %></th>
          <th class="text-center"><%= t "admin.users.email" %></th>
          <th class="text-center"><%= t "admin.users.chatwork" %></th>
          <th class="text-center"><%= t "admin.users.role" %></th>
          <th class="text-center"><%= t "admin.users.create_at" %></th>
          <th class="text-center" colspan="3"><%= t "admin.users.action" %> </th>
        </tr>
      </thead>
      <tbody>
        <%= render "user_item" %>
      </tbody>
    </table>
  <%= will_paginate @users %>
  </div>
</div>
