<div class="banner-w3agile">
  <div class="container">
    <h3>
      <span>
        <%= t (".all_user") %>
      </span>
    </h3>
  </div>
</div>
<div class="containe">
  <div class="col-md-12">
    <div class="responsive-table">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th class="center width_50_px">
              <%= t "admin.users.index_num" %>
            </th>
            <th class="text-center"><%= t "admin.users.name" %></th>
            <th class="text-center"><%= t "admin.users.email" %></th>
            <th class="text-center"><%= t "admin.users.chatwork" %></th>
            <th class="text-center"><%= t "admin.users.role" %></th>
            <th class="text-center"><%= t "admin.users.create_at" %></th>
            <th class="text-center" colspan="3">
              <%= t "admin.users.action" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "user_item", collection: @users, as: "user" %>
        </tbody>
      </table>
      <%= will_paginate @users %>
      </div>
  </div>
</div>
