<div id="question" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><b><%= t ".question" %></b></h2>
    <table id="table-show">
      <tbody>
        <tr>
          <td><b><%= t ".content" %></b></td>
          <td><%= @suggest_question.content %></td>
        </tr>
        <tr>
          <td><b><%= t ".answers" %></b></td>
          <td>
            <table id="table-show-render">
              <tbody>
                <% @suggest_question.suggest_answers.each do |answer| %>
                  <tr>
                    <td>
                      <%= render "correct_status_label",
                        is_correct: answer.is_correct %>
                    </td>
                    <td></td>
                    <td>
                      <%= answer.content %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td><b><%= t ".subject_name" %></b></td>
          <td><%= @suggest_question.subject.name %></td>
        </tr>
        <tr>
          <td><b><%= t ".answer_type" %></b></td>
          <td><%= @suggest_question.answer_type %></td>
        </tr>
        <tr>
          <td><b><%= t ".status" %></b></td>
          <td>
            <%= render "question_status_label" %>
          </td>
        </tr>
        <tr>
          <td><b><%= t ".actions" %></b></td>
          <td>
            <%= link_to t(".edit"),
              edit_suggest_question_path(@suggest_question),
              class: "btn btn-primary" %>
            <%= link_to t(".delete"),
              suggest_question_path(@suggest_question),
              method: :delete, data: {confirm: t(".delete_question_confirm")},
              class: "btn btn-danger" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
