<div class="footer-w3">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-4 footer-grid">
        <h4><%= render "static_pages/about" %></h4>
      </div>
        <div class="col-md-4 footer-grid">
          <h4><%= t ".Instagram Posts" %></h4>
          <div class="footer-grid1">
            <%= link_to image_tag("w1.jpg", class:"img-responsive") %>
          </div>
          <div class="footer-grid1">
            <%= link_to image_tag("w2.jpg", class:"img-responsive") %>
          </div>
          <div class="footer-grid1">
            <%= link_to image_tag("w4.jpg", class:"img-responsive") %>
          </div>
           <div class="footer-grid1">
             <%= link_to image_tag("w5.jpg", class:"img-responsive") %>
           </div>
           <div class="footer-grid1">
             <%= link_to image_tag("w6.jpg", class:"img-responsive") %>
           </div>
           <div class="footer-grid1">
             <%= link_to image_tag("w2.jpg", class:"img-responsive") %>
           </div>
           <div class="clearfix"> </div>
        </div>
      <div class="col-md-4 footer-grid">
        <h4><%= render "static_pages/help" %></h4>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
