<footer class="footer">
  <small>
    <a><%= t "iteam" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("help"), help_path %></li>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), Settings.framgialink %></li>
    </ul>
  </nav>
</footer>
