<% provide :title, t("sign_up") %>
<div class="agile">
  <div class="main">
      <%= tag(:br) %><%= tag(:br) %>
        <div class="signup"><center><h4><%= t ".title" %></h4></center></div>
      <%= tag(:br) %><%= tag(:br) %>
      <div class="signin-form profile">
        <div class="login-form">
          <%= simple_form_for resource, as: resource_name,
            url: registration_path(resource_name) do |f| %>
            <%= f.error_notification %>
              <%= f.text_field :name, placeholder: t(".Name") %>

              <%= f.text_field :chatwork_id, placeholder: t(".Chatwork_ID") %>

              <%= f.email_field :email, placeholder: t(".Email") %>

              <%= f.password_field :password, placeholder: t(".Password") %>

              <%= f.password_field :password_confirmation,
                placeholder: t(".PasswordConfirmation") %>

            <p><%= t "waiting_confirmation" %></p>
              <%= f.submit t("submit"), class: "btn btn-primary" %>
            <div class="social-icons w3agile">
              <ul>
                <li><%= t "Follow" %></li>
                <li>
                  <%= link_to image_tag("fb.png", class:"img-responsive") %>
                </li>
                <li>
                  <%= link_to image_tag("tw.png", class:"img-responsive") %>
                </li>
                <li>
                  <%= link_to image_tag("gp.png", class:"img-responsive") %>
                </li>
              </ul>
            </div>
          <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
